# 1. Sıcaklık Tahmini
Bu alıştırmada, Szeged, Macaristan bölgesindeki tarihi sıcaklık verileriyle çalışacaksınız.

Öncelikle, Sıcaklık verilerini Kaggle'dan indirin.
Hedef değişkenin sıcaklık olduğu bir regresyon modeli oluşturun. Açıklayıcı değişkenler olarak nem, rüzgar hızı, rüzgar ve basınç kullanın. OLS kullanarak modeli tahmin edin.
Şimdi, modelinizin yukarıdaki Gauss-Markov Koşullarını karşılayıp karşılamadığını kontrol edin. Eğer bazı varsayımlar karşılanmazsa, modelinizin doğruluğu için ihlallerin etkilerini tartışın.
# 2. Ev fiyatları
Bu ödevi tamamlamak için, aşağıdaki görevlerin çözümlerini içeren bir Jupyter notebooku gönderin:

Ev Fiyatları verilerini Kaggle'dan indirin.
Önceki derste oluşturduğunuz modeli yeniden gerçekleştirin.
Yukarıdaki tüm varsayımları kontrol edin ve bazı varsayımların karşılanmadığı durumlarda sonuçları tartışın.

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from sklearn import linear_model
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# Ödev_1

In [3]:
sıcaklık = pd.read_csv("Desktop/Bootcamp Ödevler/weatherHistory.csv")
sıcaklık.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [23]:
df = sıcaklık.copy()
degiskenler = ["Temperature (C)", "Humidity", "Wind Speed (km/h)", "Pressure (millibars)", "Wind Bearing (degrees)"]
for kolon in df.columns:
    if kolon not in degiskenler:
        df.drop([kolon], axis=1, inplace=True)
df.columns = ["sicaklik", "nem", "ruzgar_hizi", "ruzgar", "basinc"]
df.head()

   sicaklik   nem  ruzgar_hizi  ruzgar   basinc
0  9.472222  0.89      14.1197   251.0  1015.13
1  9.355556  0.86      14.2646   259.0  1015.63
2  9.377778  0.89       3.9284   204.0  1015.94
3  8.288889  0.83      14.1036   269.0  1016.41
4  8.755556  0.83      11.0446   259.0  1016.51

### Regression modeli

In [28]:
Y = df["sicaklik"]
X = df[["nem", "ruzgar_hizi", "ruzgar", "basinc"]]
lrm = linear_model.LinearRegression()
lrm.fit(X,Y)
print("Değişkenler: {}".format(lrm.coef_))
print("Sabit Değer: {}".format(lrm.intercept_))

Değişkenler: [-3.24962454e+01 -2.01413742e-01  4.04836936e-03 -6.91759209e-04]
Sabit Değer: 37.92643818528533